<section class="latest-offers-wrapper">
    <div *ngIf="isHomeRoute(); else elseBlock">
        <h1 *ngIf="isLogged" class="latest-offers-title">All Offers</h1>
        <h1 *ngIf="!isLogged" class="latest-offers-title">Latest Offers</h1>
        <div class="offers-container">
            <section class="offers-article-wrapper">
                <app-offer-item *ngFor="let offer of (offers$ | async)" [offer]="offer"></app-offer-item>
            </section>
        </div>
    </div>
    <ng-template #elseBlock>
        <h1 class="latest-offers-title">My Offers</h1>
        <div class="offers-container">
            <section class="offers-article-wrapper">
                <app-offer-item *ngFor="let offer of (userOffers$ | async)" [offer]="offer"></app-offer-item>
            </section>
        </div>
    </ng-template>
</section>
<a *ngIf="!isLogged" class="btn view-more" routerLink="/auth/register">View More</a>