<header class="main-navigation">
    <div class="image-wrapper">
        <a routerLink="/"><img
                src="https://res.cloudinary.com/kalindonchev-cloud/image/upload/v1606763472/bwinvpogwz39gbjhdwye.png"
                alt=""></a>

    </div>
    <nav class="nav-bar-wrapper">
        <ul class="list-wrapper nav">
            <li *ngIf="!isLogged">
                <a routerLink="/auth/login">Login</a>
            </li>
            <li *ngIf="!isLogged">
                <a routerLink="/auth/register">Register</a>
            </li>
            <li *ngIf="isLogged">
                <a (click)="logoutHandler()">Logout</a>
            </li>
            <li *ngIf="isLogged">
                <a mat-button [matMenuTriggerFor]="menu">My Profile</a>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item [routerLink]="['/offer/my-offers',userUsername]">My Offers</a>
                    <a mat-menu-item>My Profile</a>
                    <a mat-menu-item routerLink="/offer/create">Create Offer</a>
                    <a mat-menu-item>Saved Offers</a>
                </mat-menu>
            </li>
            

        </ul>
    </nav>

</header>