<article class="user-card">
    <div class="user-title">
        <h2 class="user-title-heading">Username :</h2>
        <h3 class="user-title-title">{{user.username}}</h3>
    </div>
    <div class="user-description">
        <h2 class="user-title-heading">Email :</h2>
        <p class="user-description-description">{{user.email}}</p>
    </div>
    <div class="user-category">
        <h2 class="user-title-heading">Telephone Number :</h2>
        <h3 class="user-title-title"> {{user.phoneNumber}}</h3>

    </div>
    <div class="user-price">
        <h2 class="user-title-heading">Number Of Offers :</h2>
        <h3 class="user-title-price">{{user.numberOfOffers}}</h3>
    </div>
</article>